<h1>Upload File</h1>

<%= render 'form', uploadfile: @uploadfile %>

<p> 
<% if @uploadfile.folder %> 
   <%= link_to "Back to '#{@uploadfile.folder.name}' Folder", browse_path(@uploadfile.folder) %> 
<% else %> 
   <%= link_to "Back", root_url %> 
<% end %> 
</p>
